# Key Processing

In [1]:
import pandas as pd
import glob
import re
import os.path
import numpy as np

In [2]:
databases = ['Asset Suite', 'Archibus', 'COBRA','EDMS','FIS','IPS','P6','PID','Site People','Time Billing']
path = 'C:\\Users\\\mounsl\\OneDrive - Idaho National Laboratory\\Documents - GRP-Agree Data Assessment Team\\Data Assessment Taxonomy\\PK-FK files\\' #path to where files for the database are kept

## Key Processing

In [140]:
dd_gloss = pd.read_excel('Data Elements Taxonomy_copy.xlsx', sheet_name='Data Dictionary')

clean_PKs = pd.DataFrame()
clean_FKs = pd.DataFrame()
for database in databases:    
    #PKs
    if os.path.isfile(path+database+'-PKs.xlsx'):
        # print(database)
        raw_PKs = pd.read_excel(path+database+'-PKs.xlsx')
        raw_PKs = raw_PKs.rename(columns={'TableName':'TABLENAME','ColumnName':'COLNAME','ORDINAL_POSITION':'Primary Key'}).drop(columns=['SchemaName','PK_name'])
        raw_PKs['System'] = database
        raw_PKs['TABLENAME'] = raw_PKs['TABLENAME'].str.strip()
        raw_PKs['COLNAME'] = raw_PKs['COLNAME'].str.strip()
        raw_PKs = raw_PKs[['System','TABLENAME','COLNAME','Primary Key']]
        clean_PKs = pd.concat([clean_PKs,raw_PKs])

    #FKS
    if os.path.isfile(path+database+'-FKs.xlsx'):
        raw_FKs = pd.read_excel(path+database+'-FKs.xlsx')
        raw_FKs = raw_FKs.rename(columns={'TableName':'TABLENAME','ColumnName':'COLNAME'}).drop(columns=['SchemaName','FK_name'])
        raw_FKs['System'] = database
        raw_FKs['TABLENAME'] = raw_FKs['TABLENAME'].str.strip()
        raw_FKs['COLNAME'] = raw_FKs['COLNAME'].str.strip()
        clean_FKs = pd.concat([clean_FKs,raw_FKs])

dd_gloss['System'] = dd_gloss['System'].str.strip()
dd_gloss['TABLENAME'] = dd_gloss['TABLENAME'].str.strip()
dd_gloss['COLNAME'] = dd_gloss['COLNAME'].str.strip()
dd_gloss = dd_gloss.merge(clean_PKs, on=['System','TABLENAME','COLNAME'], how='left')
dd_gloss = dd_gloss.merge(clean_FKs, on=['System','TABLENAME','COLNAME'], how='left')

In [141]:
dd_gloss.to_excel('Data Elements Taxonomy_PKFK.xlsx', index=False)

In [265]:
'''Formatting in final verson:
-Primary Key is a number
-Sheet Name
-Other Sheets?
-Header Color
-Header Filter
-Header Freeze'''

'Formatting in final verson:\n-Primary Key is a number\n-Sheet Name\n-Other Sheets?\n-Header Color\n-Header Filter\n-Header Freeze'

# Asset Suite Key "Query"

In [266]:
# as_path = 'c:\\Users\\mounsl\\OneDrive - Idaho National Laboratory\\Documents - GRP-Agree Data Assessment Team\\Asset Suite\\Working documents - Start here\\'
# files = glob.glob(as_path + 'DataDictionary*.xlsx')
# as_pks = pd.DataFrame(columns=['Dictionary','TableName','ColumnName','ORDINAL_POSITION'])
# table_count = 0
# for file in files:
#     workbook = pd.read_excel(file, sheet_name=None, keep_default_na = False)
#     for key, df in workbook.items():
#         if '-' in key:
#             table_count += 1
#             tableName = re.sub(' ', '',key).split('-')[-1]
#             # print(tableName)
#             index_rows = df[(df.iloc[:,0].str.contains('INDEX', na=False))&(df.iloc[:,0].str.contains('CREATE', na=False))].index
            
#             for rownum in index_rows:
#                 pks = ''
#                 i=rownum+1
#                 while df.iloc[i,0]!='':
#                     pks = pks+re.sub('[() ]', '', df.iloc[i,0])
#                     i += 1
#                 # print(pks[0:len(pks)]) 
#                 pk_list = pks.split(',')
#                 j = 1
#                 for pk in pk_list:
#                     as_pks.loc[len(as_pks)] = {'Dictionary':file.split('_',1)[1], 'TableName':tableName,'ColumnName':pk,'ORDINAL_POSITION':j}
#                     j+=1
# as_pks['SchemaName'] = ''
# as_pks['PK_name'] = 'PK'

In [ ]:
# as_pks.to_excel(path+'Asset Suite-PKs.xlsx', index=False)

# P6 Key "Query"

In [72]:
# p6_path = 'C:\\Users\\mounsl\\OneDrive - Idaho National Laboratory\Documents - GRP-Agree Data Assessment Team\\Project Management\\3. Data and modeling\\Data Dictionary\\P6\\PXRPTUSER Scripted Views\\'
# p6files = glob.glob(p6_path + '*vw.txt')


# table_pattern = re.compile(r'(?<=C:\\Users\\mounsl\\OneDrive - Idaho National Laboratory\\Documents - GRP-Agree Data Assessment Team\\Project Management\\3\. Data and modeling\\Data Dictionary\\P6\\PXRPTUSER Scripted Views\\).*(?=vw\.txt)')
# pk_pattern = re.compile(r'(?<=[ \.])objectid')  ## TODO: this is selecting the a.name_id portion, need to select the alias and UPPERCASE it
# fk_pattern = re.compile(r'(?<=[/. ])\w+(?=objectid)')
# p6_pks = pd.DataFrame(columns=['SchemaName','TableName','ColumnName','PK_name','ORDINAL_POSITION'])
# p6_fks = pd.DataFrame(columns=['SchemaName','TableName','ColumnName','FK_name','ReferencedTable','ReferencedColumn'])
# for file in p6files:
#     with open(file, 'r') as fp:
#         tableName = table_pattern.search(file)[0]
#         # print(tableName)
#     # read all lines using readline()
#         lines = fp.readlines()
#         j=1
#         for row in lines:
#             # check if string present on a current line
#             if pk_pattern.search(row):
#                 # pk_name = pk_pattern.search(row)[0].upper()
#                 # print('PK for '+tableName+': '+ pk_name)
#                 p6_pks.loc[len(p6_pks)] = {'TableName':tableName,'ColumnName':'OBJECTID','ORDINAL_POSITION':j}
#                 j +=1
#             if fk_pattern.search(row):
#                 fk_table = fk_pattern.search(row)[0].upper()
#                 # print('FK for '+tableName+': '+ fk_table)
#                 p6_fks.loc[len(p6_fks)] = {'TableName':tableName,'ColumnName':fk_table+'OBJECTID','ReferencedTable':fk_table,'ReferencedColumn':'OBJECTID'}

In [139]:
# p6_pks.to_excel(path+'P6-PKs.xlsx', index=False)
# p6_fks.to_excel(path+'P6-FKs.xlsx', index=False)

In [120]:
p6 = dd_gloss[dd_gloss['System']=='P6']#['TABLENAME'].nunique()

In [ ]:
no_objectid = p6.groupby('TABLENAME').filter(lambda x: ~(x['COLNAME']=='OBJECTID').any())
no_objectid['TABLENAME'].unique()

In [123]:
p6_fks

,SchemaName,TableName,ColumnName,FK_name,ReferencedTable,ReferencedColumn
0,NaN,ACTIVITYCODEASSIGNMENT,ACTIVITYOBJECTID,NaN,ACTIVITY,OBJECTID
1,NaN,ACTIVITYCODEASSIGNMENT,ACTIVITYCODETYPEOBJECTID,NaN,ACTIVITYCODETYPE,OBJECTID
2,NaN,ACTIVITYCODEASSIGNMENT,ACTIVITYCODEOBJECTID,NaN,ACTIVITYCODE,OBJECTID
3,NaN,ACTIVITYCODEASSIGNMENT,PROJECTOBJECTID,NaN,PROJECT,OBJECTID
4,NaN,ACTIVITYCODEHIERARCHY,CODETYPEOBJECTID,NaN,CODETYPE,OBJECTID
...,...,...,...,...,...,...
159,NaN,WBSSPREAD,OBSOBJECTID,NaN,OBS,OBJECTID
160,NaN,WBS,PROJECTOBJECTID,NaN,PROJECT,OBJECTID
161,NaN,WBS,OBSOBJECTID,NaN,OBS,OBJECTID
162,NaN,WBS,WBSCATEGORYOBJECTID,NaN,WBSCATEGORY,OBJECTID
163,NaN,WBS,PARENTOBJECTID,NaN,PARENT,OBJECTID

In [135]:
p6_fk_val = p6[(p6['COLNAME'].str.contains('OBJECTID'))&(p6['COLNAME']!='OBJECTID')].merge(p6_fks, left_on=['TABLENAME','COLNAME'],right_on=['TableName','ColumnName'], how = 'outer')[['TABLENAME','COLNAME','ReferencedTable','ReferencedColumn']]

In [136]:
## Likely missed FKs
p6_fk_val[p6_fk_val['ReferencedTable'].isna()]

,TABLENAME,COLNAME,ReferencedTable,ReferencedColumn
13,ACTIVITYCODEHEIRARCHY,CHILDCODEVALUEOBJECTID,NaN,NaN
14,ACTIVITYCODEHEIRARCHY,CODETYPEOBJECTID,NaN,NaN
15,ACTIVITYCODEHEIRARCHY,PARENTCODEVALUEOBJECTID,NaN,NaN
98,PROJECTETLLIST,PROJECTOBJECTID,NaN,NaN
108,RELATIONSHIP,PREDECESSORACTIVITYOBJECTID,NaN,NaN
109,RELATIONSHIP,PREDECESSORPROJECTOBJECTID,NaN,NaN
110,RELATIONSHIP,SUCCESSORACTIVITYOBJECTID,NaN,NaN
111,RELATIONSHIP,SUCCESSORPROJECTOBJECTID,NaN,NaN
159,USERMODULEACCESS,USEROBJECTID,NaN,NaN
168,WBSHEIRARCHY,CHILDOBJECTID,NaN,NaN
169,WBSHEIRARCHY,PARENTOBJECTID,NaN,NaN

In [131]:
## FK references a table not in taxonomy
p6_fks[~p6_fks['ReferencedTable'].isin(p6['TABLENAME'])].head(50)

,SchemaName,TableName,ColumnName,FK_name,ReferencedTable,ReferencedColumn
4,NaN,ACTIVITYCODEHIERARCHY,CODETYPEOBJECTID,NaN,CODETYPE,OBJECTID
5,NaN,ACTIVITYCODEHIERARCHY,PARENTCODEVALUEOBJECTID,NaN,PARENTCODEVALUE,OBJECTID
6,NaN,ACTIVITYCODEHIERARCHY,CHILDCODEVALUEOBJECTID,NaN,CHILDCODEVALUE,OBJECTID
9,NaN,ACTIVITYCODE,CODETYPEOBJECTID,NaN,CODETYPE,OBJECTID
10,NaN,ACTIVITYCODE,PARENTOBJECTID,NaN,PARENT,OBJECTID
19,NaN,ACTIVITYSPREAD,CBSOBJECTID,NaN,CBS,OBJECTID
26,NaN,ACTIVITY,PRIMARYRESOURCEOBJECTID,NaN,PRIMARYRESOURCE,OBJECTID
27,NaN,ACTIVITY,LOCATIONOBJECTID,NaN,LOCATION,OBJECTID
28,NaN,ACTIVITY,ACTIVITYOWNEROBJECTID,NaN,ACTIVITYOWNER,OBJECTID
29,NaN,BASELINE,ACTIVITYDEFCOSTACCTOBJECTID,NaN,ACTIVITYDEFCOSTACCT,OBJECTID
30,NaN,BASELINE,ACTIVITYDEFCALENDAROBJECTID,NaN,ACTIVITYDEFCALENDAR,OBJECTID
31,NaN,BASELINE,CURRENTBASELINEPROJECTOBJECTID,NaN,CURRENTBASELINEPROJECT,OBJECTID
32,NaN,BASELINE,OWNERRESOURCEOBJECTID,NaN,OWNERRESOURCE,OBJECTID
33,NaN,BASELINE,CHECKOUTUSEROBJECTID,NaN,CHECKOUTUSER,OBJECTID
34,NaN,BASELINE,LASTFINANCIALPERIODOBJECTID,NaN,LASTFINANCIALPERIOD,OBJECTID
35,NaN,BASELINE,ORIGINALPROJECTOBJECTID,NaN,ORIGINALPROJECT,OBJECTID
36,NaN,BASELINE,RISKSCOREMATRIXOBJECTID,NaN,RISKSCOREMATRIX,OBJECTID
38,NaN,BASELINE,LOCATIONOBJECTID,NaN,LOCATION,OBJECTID
42,NaN,BLACTIVITY,PRIMARYRESOURCEOBJECTID,NaN,PRIMARYRESOURCE,OBJECTID
43,NaN,BLACTIVITY,LOCATIONOBJECTID,NaN,LOCATION,OBJECTID
44,NaN,BLACTIVITY,ACTIVITYOWNEROBJECTID,NaN,ACTIVITYOWNER,OBJECTID
45,NaN,BLPROJECT,ACTIVITYDEFCOSTACCTOBJECTID,NaN,ACTIVITYDEFCOSTACCT,OBJECTID
46,NaN,BLPROJECT,ACTIVITYDEFCALENDAROBJECTID,NaN,ACTIVITYDEFCALENDAR,OBJECTID
47,NaN,BLPROJECT,CURRENTBASELINEPROJECTOBJECTID,NaN,CURRENTBASELINEPROJECT,OBJECTID
48,NaN,BLPROJECT,OWNERRESOURCEOBJECTID,NaN,OWNERRESOURCE,OBJECTID
49,NaN,BLPROJECT,CHECKOUTUSEROBJECTID,NaN,CHECKOUTUSER,OBJECTID
50,NaN,BLPROJECT,LASTFINANCIALPERIODOBJECTID,NaN,LASTFINANCIALPERIOD,OBJECTID
52,NaN,BLPROJECT,PARENTEPSOBJECTID,NaN,PARENTEPS,OBJECTID
53,NaN,BLPROJECT,ORIGINALPROJECTOBJECTID,NaN,ORIGINALPROJECT,OBJECTID
54,NaN,BLPROJECT,RISKSCOREMATRIXOBJECTID,NaN,RISKSCOREMATRIX,OBJECTID
56,NaN,BLPROJECT,LOCATIONOBJECTID,NaN,LOCATION,OBJECTID
60,NaN,BLWBS,PARENTOBJECTID,NaN,PARENT,OBJECTID
62,NaN,CALENDAR,BASECALENDAROBJECTID,NaN,BASECALENDAR,OBJECTID
63,NaN,COSTACCOUNTHIERARCHY,PARENTOBJECTID,NaN,PARENT,OBJECTID
64,NaN,COSTACCOUNTHIERARCHY,CHILDOBJECTID,NaN,CHILD,OBJECTID
65,NaN,COSTACCOUNT,PARENTOBJECTID,NaN,PARENT,OBJECTID
66,NaN,EPSHIERARCHY,PARENTOBJECTID,NaN,PARENT,OBJECTID
67,NaN,EPSHIERARCHY,CHILDOBJECTID,NaN,CHILD,OBJECTID
68,NaN,EPSSPREAD,PARENTOBJECTID,NaN,PARENT,OBJECTID
73,NaN,EPS,PARENTOBJECTID,NaN,PARENT,OBJECTID
74,NaN,OBS,PARENTOBJECTID,NaN,PARENT,OBJECTID
78,NaN,PROJECTCODEHIERARCHY,CODETYPEOBJECTID,NaN,CODETYPE,OBJECTID
79,NaN,PROJECTCODEHIERARCHY,PARENTCODEVALUEOBJECTID,NaN,PARENTCODEVALUE,OBJECTID
80,NaN,PROJECTCODEHIERARCHY,CHILDCODEVALUEOBJECTID,NaN,CHILDCODEVALUE,OBJECTID
81,NaN,PROJECTCODE,CODETYPEOBJECTID,NaN,CODETYPE,OBJECTID
82,NaN,PROJECTCODE,PARENTOBJECTID,NaN,PARENT,OBJECTID
86,NaN,PROJECTPORTFOLIO,USEROBJECTID,NaN,USER,OBJECTID
90,NaN,PROJECTSPREAD,PARENTEPSOBJECTID,NaN,PARENTEPS,OBJECTID
92,NaN,PROJECT,ACTIVITYDEFCOSTACCTOBJECTID,NaN,ACTIVITYDEFCOSTACCT,OBJECTID
93,NaN,PROJECT,ACTIVITYDEFCALENDAROBJECTID,NaN,ACTIVITYDEFCALENDAR,OBJECTID

In [100]:
p6_val = p6[p6['COLNAME']=='OBJECTID'].merge(p6_pks, left_on=['TABLENAME','COLNAME'],right_on=['TableName','ColumnName'], how = 'outer')[['TABLENAME','COLNAME','TableName','ColumnName']]

In [132]:
## Likely missed PKs
p6_val[p6_val['TableName'].isna()]

           TABLENAME   COLNAME TableName ColumnName
12          CURRENCY  OBJECTID       NaN        NaN
18   FINANCIALPERIOD  OBJECTID       NaN        NaN
19     GLOBALPROFILE  OBJECTID       NaN        NaN
25    PROJECTETLLIST  OBJECTID       NaN        NaN
30      RELATIONSHIP  OBJECTID       NaN        NaN
40           UDFTYPE  OBJECTID       NaN        NaN
42  USERMODULEACCESS  OBJECTID       NaN        NaN

# Validation

In [270]:
# as_pks[as_pks['ORDINAL_POSITION']==1]['TableName'].nunique()

In [ ]:
clean_PKs[clean_PKs['System']=='P6']

In [ ]:
dd_gloss[dd_gloss['System']=='P6']

In [151]:
## Tables in the DD
dd_gloss['TABLENAME'].nunique()

306

In [153]:
## Tables with PK identified
dd_gloss[dd_gloss['Primary Key']==1]['TABLENAME'].nunique()

255

In [155]:
no_pks = dd_gloss.groupby('TABLENAME').filter(lambda x: x['Primary Key'].isnull().all())

In [159]:
no_objectid['TABLENAME'].unique()

array(['ACTIVITYCODEASSIGNMENT', 'ACTIVITYCODEHEIRARCHY',
       'ACTIVITYSPREAD', 'COSTACCOUNTHIERARCHY', 'EPSHIERARCHY',
       'GLOBALSECURITY', 'PROJECTCODEASSIGNMENT', 'PROJECTCODEHIERARCHY',
       'PROJECTPROJECTPORTFOLIO', 'PXSERVICES', 'PXSETTINGS',
       'RESOURCEACCESS', 'RESOURCEASSIGNMENTSPREAD',
       'RESOURCECODEASSIGNMENT', 'RESOURCECODEHIERARCHY',
       'RESOURCEHIERARCHY', 'RESOURCERESOURCETEAM', 'UDFVALUE',
       'USERPROFILEPRIVILEGE', 'WBSHEIRARCHY'], dtype=object)

In [156]:
no_pks.groupby(['System','TABLENAME']).max('Primary Key').head(50)

                                       Cardinality  Max Length  Primary Key
System       TABLENAME
COBRA        BDNDETL                          21.0         NaN          NaN
             COB_NTX                          10.0         NaN          NaN
EDMS         A_DRAFTERS                        8.0        20.0          NaN
             A_DRAWINGS                    63863.0       800.0          NaN
             CLOSED_DARS                  247706.0        50.0          NaN
             DRAW_NUMBERING               245491.0       100.0          NaN
             DRF                          115002.0      1955.0          NaN
             ENGINEERS                        30.0        23.0          NaN
             ERROR_LOG                        24.0       147.0          NaN
             ESSENTIAL_AREA                 1510.0        15.0          NaN
             ESSENTIAL_LOG                 17053.0        23.0          NaN
             MARKUPTAB                         1.0       567.0          NaN
             OLD_CAD                       76069.0        33.0          NaN
             SPECIAL_CODES                150472.0        17.0          NaN
             SPECIAL_CODES_LOG              8297.0        23.0          NaN
             STW_DRAWINGS                  63131.0        30.0          NaN
             SUPERSEDED_DRAWINGS           15815.0        10.0          NaN
IPS          CNCodeImports                    76.0        27.0          NaN
             datWBS_INL                     6679.0        65.0          NaN
             dat_MRSendClick                   1.0         NaN          NaN
P6           ACTIVITYCODEASSIGNMENT       145386.0       120.0          NaN
             ACTIVITYCODEHEIRARCHY        184726.0       116.0          NaN
             ACTIVITYSPREAD               145386.0       120.0          NaN
             COSTACCOUNTHIERARCHY         183484.0        43.0          NaN
             CURRENCY                      56115.0       120.0          NaN
             EPSHIERARCHY                 183484.0        43.0          NaN
             FINANCIALPERIOD               56115.0       120.0          NaN
             GLOBALPROFILE                 56115.0       120.0          NaN
             GLOBALSECURITY                  235.0         1.0          NaN
             PROJECTCODEASSIGNMENT         56115.0       100.0          NaN
             PROJECTCODEHIERARCHY         184726.0       116.0          NaN
             PROJECTETLLIST                 1252.0         NaN          NaN
             PROJECTPROJECTPORTFOLIO       56115.0        10.0          NaN
             PXSERVICES                    56115.0        98.0          NaN
             PXSETTINGS                    56115.0      3997.0          NaN
             RELATIONSHIP                1754511.0       120.0          NaN
             RESOURCEACCESS                 3088.0        63.0          NaN
             RESOURCEASSIGNMENTSPREAD     145386.0         NaN          NaN
             RESOURCECODEASSIGNMENT        56115.0        63.0          NaN
             RESOURCECODEHIERARCHY        184726.0       116.0          NaN
             RESOURCEHIERARCHY            183484.0        43.0          NaN
             RESOURCERESOURCETEAM          56115.0        10.0          NaN
             UDFTYPE                       56115.0        70.0          NaN
             UDFVALUE                     217874.0       255.0          NaN
             USERMODULEACCESS              56115.0        15.0          NaN
             USERPROFILEPRIVILEGE          56115.0        76.0          NaN
             WBSHEIRARCHY                 183484.0        43.0          NaN
Site People  SitePeople                    11452.0        50.0          NaN
             ntusers                       12216.0        42.0          NaN
Time Billing PS_IF_BALANCES               163185.0         6.0          NaN