# Foreign Key Processing

In [1]:
# ! py -m pip install networkx
# ! py -m pip install thefuzz

In [1]:
import pandas as pd
import networkx as nx
from thefuzz import fuzz
from thefuzz import process
import numpy as np

In [3]:
path = 'C:\\Users\\mounsl\\OneDrive - Idaho National Laboratory\\Documents - GRP-Agree Data Assessment Team\\Security\\3. Data and Modeling\\Data Dictionary\\IFACTS\\' #path to where files for the database are kept
database = 'IFACTS'
date = '20240515'

In [4]:
raw_FKs = pd.read_excel(path+database+'_FKs_'+date+'.xlsx')

In [7]:
raw_FKs

,SchemaName,TableName,ReferencedTable,ColumnName,FK_name,ReferencedColumn
0,dbo,aspnet_Membership,aspnet_Applications,ApplicationId,FK__aspnet_Me__Appli__1FD8A9E3,ApplicationId
1,dbo,aspnet_Membership,aspnet_Users,UserId,FK__aspnet_Me__UserI__20CCCE1C,UserId
2,dbo,aspnet_Paths,aspnet_Applications,ApplicationId,FK__aspnet_Pa__Appli__51700577,ApplicationId
3,dbo,aspnet_PersonalizationAllUsers,aspnet_Paths,PathId,FK__aspnet_Pe__PathI__5728DECD,PathId
4,dbo,aspnet_PersonalizationPerUser,aspnet_Paths,PathId,FK__aspnet_Pe__PathI__5AF96FB1,PathId
...,...,...,...,...,...,...
111,dbo,datUserReportCol,datUserReport,UserReport_ID,FK_datUserReportCol_datUserReport,UserReport_ID
112,dbo,datUserReportUdf,datReportUdf,ReportUdf_ID,FK_datUserReportUdf_datReportUdf,ReportUdf_ID
113,dbo,datUserReportUdf,datUserReport,UserReport_ID,FK_datUserReportUdf_datUserReport,UserReport_ID
114,dbo,luCountry,luCountryType,CountryType_ID,FK_luCountry_luCountryType,CountryType_ID
115,dbo,luSoftware,luSoftwareType,SoftwareType_ID,FK_luSoftware_luSoftwareType,SoftwareType_ID

In [175]:
raw_FKs[['TableName','ColumnName','ReferencedColumn','ReferencedTable']].head(50)

,TableName,ColumnName,ReferencedColumn,ReferencedTable
0,aspnet_Membership,ApplicationId,ApplicationId,aspnet_Applications
1,aspnet_Membership,UserId,UserId,aspnet_Users
2,aspnet_Paths,ApplicationId,ApplicationId,aspnet_Applications
3,aspnet_PersonalizationAllUsers,PathId,PathId,aspnet_Paths
4,aspnet_PersonalizationPerUser,PathId,PathId,aspnet_Paths
5,aspnet_PersonalizationPerUser,UserId,UserId,aspnet_Users
6,aspnet_Profile,UserId,UserId,aspnet_Users
7,aspnet_Roles,ApplicationId,ApplicationId,aspnet_Applications
8,aspnet_Users,ApplicationId,ApplicationId,aspnet_Applications
9,aspnet_UsersInRoles,RoleId,RoleId,aspnet_Roles
10,aspnet_UsersInRoles,UserId,UserId,aspnet_Users
11,brRequest_Area,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
12,brRequest_Area,Area_ID,Area_ID,datArea
13,brRequest_Area,Escort_ID,Escort_ID,datEscort
14,brRequest_Software,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
15,brRequest_Software,Software_ID,Software_ID,luSoftware
16,brRequest_StateAction,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
17,brRequest_StateAction,StateAction_ID,StateAction_ID,luStateAction
18,brRequest_SubjectCode,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
19,brRequest_SubjectCode,SubjCode_ID,SubjCode_ID,luSubjectCodes
20,brREVRequest_Area,ApprRequestForm_ID,ApprRequestForm_ID,datREVApprRequestForm
21,brREVRequest_Area,Area_ID,Area_ID,datArea
22,brREVRequest_Area,Escort_ID,Escort_ID,datREVEscort
23,brREVRequest_Software,ApprRequestForm_ID,ApprRequestForm_ID,datREVApprRequestForm
24,brREVRequest_Software,Software_ID,Software_ID,luSoftware
25,brREVRequest_StateAction,ApprRequestForm_ID,ApprRequestForm_ID,datREVApprRequestForm
26,brREVRequest_StateAction,StateAction_ID,StateAction_ID,luStateAction
27,brREVRequest_SubjectCode,ApprRequestForm_ID,ApprRequestForm_ID,datREVApprRequestForm
28,brREVRequest_SubjectCode,SubjCode_ID,SubjCode_ID,luSubjectCodes
29,brUser_Role_RespArea,RespArea_ID,RespArea_ID,luRespArea
30,datAddtSubmitter,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
31,datApprRequestForm,Closeout_VisitStatus_ID,VisitStatus_ID,luVisitStatus
32,datApprRequestForm,Company_ID,Company_ID,luCompany
33,datApprRequestForm,ExpeditedRequestState_ID,ExpeditedRequestState_ID,luExpeditedRequestState
34,datApprRequestForm,FVAInteractionType1_ID,InteractionType_ID,luInteractionType
35,datApprRequestForm,FVAInteractionType2_ID,InteractionType_ID,luInteractionType
36,datApprRequestForm,PurposeCode_ID,PurposeCode_ID,luPurposeCode
37,datApprRequestForm,SensitiveTopic_ID,SensitiveTopic_ID,luSensitiveTopic
38,datApprRequestForm,State_ID,State_ID,luState
39,datArea,AreaType_ID,AreaType_ID,luAreaType
40,datAwareIndividual,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
41,datEscort,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
42,datHistoricalSecPlan,ApprRequestFormId,ApprRequestForm_ID,datApprRequestForm
43,datHistoricalSecPlan,HistoricalDataType,HistoricalDataType,enumHistoricalDataType
44,datPrevisitBriefingLog,ApprRequestForm_ID,ApprRequestForm_ID,datApprRequestForm
45,datReportTblCol,ReportColType_ID,ReportColType_ID,luReportColType
46,datReportTblCol,ReportTbl_ID,ReportTbl_ID,datReportTbl
47,datRequest_FN_FamilyMember,BirthCitiz_ID,Country_ID,luCountry
48,datRequest_FN_FamilyMember,BirthCountry_ID,Country_ID,luCountry
49,datRequest_FN_FamilyMember,Relationship_ID,Relationship_ID,luRelationship

## Analysis with NetworkX

Documentation: https://networkx.org/documentation/stable/reference/index.html

In [8]:
edgelist = raw_FKs[['TableName', 'ReferencedTable']]
edgelist.to_csv(database+'_edgelist.csv', index=False, header=False)
fk_graph = nx.read_edgelist(database+'_edgelist.csv', delimiter=',',create_using=nx.DiGraph)
fk_graph.number_of_nodes()
fk_graph.number_of_edges()
nx.is_directed_acyclic_graph(fk_graph)
nx.is_weakly_connected(fk_graph)
nx.number_weakly_connected_components(fk_graph)
for c in nx.weakly_connected_components(fk_graph):
    print(len(c), ':', c)

## Possible Uninforced Foreign Keys with Fuzzy Matching

In [18]:
raw_cols = pd.read_excel(path+'Working\\'+database+'_RawTableChars.xlsx', usecols=['TableName', 'ColumnName'])

In [19]:
raw_cols

                TableName              ColumnName
0     aspnet_Applications           ApplicationId
1     aspnet_Applications         ApplicationName
2     aspnet_Applications             Description
3     aspnet_Applications  LoweredApplicationName
4       aspnet_Membership           ApplicationId
...                   ...                     ...
1400          sysdiagrams              definition
1401          sysdiagrams              diagram_id
1402          sysdiagrams                    name
1403          sysdiagrams            principal_id
1404          sysdiagrams                 version

[1405 rows x 2 columns]

In [158]:
def extract_matches(cols, existing_relationships):
    cols["match results"] = cols['ColumnName'].apply(lambda x: process.extract(x, cols['ColumnName'], scorer=fuzz.ratio))
    new_rows = []
    for index, row in cols.iterrows():
        for result in row['match results']:
            new_row = {'TableName':row['TableName'],
                    'ColumnName':row['ColumnName'],
                    'MatchColumn':result[0],
                    'MatchRatio':result[1],
                    'MatchTable':cols.iloc[result[2]]['TableName']}
            new_rows.append(new_row)
    new_df = pd.DataFrame(new_rows, columns=['TableName','ColumnName','MatchColumn','MatchRatio','MatchTable'])
    new_df = new_df[(new_df['TableName'] != new_df['MatchTable'])]
    new_df['combo'] = new_df['TableName']+','+new_df['ColumnName']+' to '+new_df['MatchTable']+','+new_df['MatchColumn']
    new_df = new_df[(~new_df['combo'].isin(existing_relationships))&(new_df['MatchRatio']>80)].drop(columns=['combo'])
    return new_df[['TableName','ColumnName','MatchColumn','MatchTable','MatchRatio']]
        
def search_term(df, term, regex=False):
    results_df = df[(df['MatchName'].str.contains(term,case=False,regex=regex))|(df['ColumnName'].str.contains(term,case=False, regex=regex))]
    return results_df

In [159]:
fks = raw_FKs

In [160]:
### XXX True deduping needs to disregard direction of relationship: merge TableName and ReferencedTable ColumnName and ReferencedColumn THEN dedup
fks['dir1'] = fks['TableName']+','+fks['ColumnName']+' to '+fks['ReferencedTable']+','+fks['ReferencedColumn']
fks['dir2'] = fks['ReferencedTable']+','+fks['ReferencedColumn']+' to '+fks['TableName']+','+fks['ColumnName']

In [161]:
all_relationships = pd.concat([fks['dir1'],fks['dir2']])

In [162]:
all_relationships

0      aspnet_Membership,ApplicationId to aspnet_Appl...
1        aspnet_Membership,UserId to aspnet_Users,UserId
2      aspnet_Paths,ApplicationId to aspnet_Applicati...
3      aspnet_PersonalizationAllUsers,PathId to aspne...
4      aspnet_PersonalizationPerUser,PathId to aspnet...
                             ...
111    datUserReport,UserReport_ID to datUserReportCo...
112    datReportUdf,ReportUdf_ID to datUserReportUdf,...
113    datUserReport,UserReport_ID to datUserReportUd...
114    luCountryType,CountryType_ID to luCountry,Coun...
115    luSoftwareType,SoftwareType_ID to luSoftware,S...
Length: 232, dtype: object

In [163]:
len(all_relationships)

232

In [164]:
match_df = extract_matches(raw_cols,all_relationships)

### Custom Munging

In [165]:
excluded_tables = ['aspnet_PersonalizationAllUsers', 'aspnet_PersonalizationPerUser', 'aspnet_Paths', 'aspnet_Users', 'aspnet_Profile', 'aspnet_Roles', 'aspnet_Applications', 'aspnet_UsersInRoles', 'aspnet_Membership','datReportTbl', 'datReportTblCol', 'luReportColType', 'datUserReportUdf', 'datUserReportCol', 'datUserReport', 'datReportUdf']

In [166]:
match_df = match_df[(~match_df['TableName'].isin(excluded_tables))&(~match_df['MatchTable'].isin(excluded_tables))]

In [167]:
match_df = match_df[(~match_df['TableName'].str.contains('LOG'))&(~match_df['MatchTable'].str.contains('LOG'))]

In [168]:
match_df = match_df[(~match_df['TableName'].str.startswith('br'))&(~match_df['MatchTable'].str.startswith('br'))]

In [169]:
match_df = match_df[(~match_df['TableName'].str.startswith('lu'))]

In [170]:
match_df = match_df[(~match_df['TableName'].str.contains('REV'))&(~match_df['MatchTable'].str.contains('REV'))]

In [173]:
match_df.to_csv('IFACTS_FK_processing_test.csv',index=False)
#match_df.to_excel(path+'Working\\'+database+'_Possible_FKs.xlsx',index=False)

In [172]:
raw_FKs[(raw_FKs['TableName']=='aspnet_Applications')|(raw_FKs['ReferencedTable']=='aspnet_Applications')][['TableName','ReferencedTable','ColumnName','ReferencedColumn']]

           TableName      ReferencedTable     ColumnName ReferencedColumn
0  aspnet_Membership  aspnet_Applications  ApplicationId    ApplicationId
2       aspnet_Paths  aspnet_Applications  ApplicationId    ApplicationId
7       aspnet_Roles  aspnet_Applications  ApplicationId    ApplicationId
8       aspnet_Users  aspnet_Applications  ApplicationId    ApplicationId

## Possible External Relationships

In [ ]:
# SNumber
# Dates
# Facilities/Buildings
#

### Custom Analysis

# TRAIN Analysis

In [14]:
train = pd.read_excel('C:\\Users\\mounsl\\OneDrive - Idaho National Laboratory\\Documents - GRP-Agree Data Assessment Team\\Training\\3. Data & Modeling\\Data Dictionary\\Working\\TRAIN_PKFK.xlsx')

In [16]:
train#[train['TABLENAME']]

,TABLENAME,COLNAME,Referenced Table,Referenced Column,PK_ordinal_position
0,ADMINISTRATOR_ORG,CLASS_ADMIN,NaN,NaN,NaN
1,ADMINISTRATOR_ORG,CONTRACT_ID,PRIME_CONTRACTOR,CONTRACT_ID,NaN
2,ADMINISTRATOR_ORG,EMP_SSN_NUM,EMPLOYEE,EMP_SSN_NUM,NaN
3,ADMINISTRATOR_ORG,ORG_CODE,ORG,ORG_CODE,NaN
4,ADMINISTRATOR_ORG,ORG_ENROLLER,NaN,NaN,NaN
...,...,...,...,...,...
415,READING,RE_READ_INTVL_MTH,NaN,NaN,NaN
416,READING,SRCE_REQ_DESC,NaN,NaN,NaN
417,READING,TRAIN_DUR_HRS,NaN,NaN,NaN
418,READING,UPDATE_DATE,NaN,NaN,NaN
419,READING,UPDATE_UID,NaN,NaN,NaN

In [17]:
no_reference = train[(~train['Referenced Table'].isin(train['TABLENAME'].unique().tolist()))&(~train['Referenced Table'].isna())]

In [18]:
no_reference

,TABLENAME,COLNAME,Referenced Table,Referenced Column,PK_ordinal_position
1,ADMINISTRATOR_ORG,CONTRACT_ID,PRIME_CONTRACTOR,CONTRACT_ID,NaN
18,ATTEND_TEST,INSTR_TYPE_CODE,INSTR_TYPE,INSTR_TYPE_CODE,3.0
40,CLASS,INSTR_TYPE_CODE,INSTR_TYPE,INSTR_TYPE_CODE,NaN
47,CLASS,VEND_CODE,VEND,VEND_CODE,NaN
89,COURSE,CONTRACT_ID,PRIME_CONTRACTOR,CONTRACT_ID,NaN
101,COURSE,FACILITY_CODE,FACILITY,FACILITY_CODE,NaN
104,COURSE,INSTR_TYPE_CODE,INSTRUCTION_TYPE,INSTRUCTION_TYPE_CODE,3.0
111,COURSE,REPORT_CAT,TRAIN_CAT,TRAIN_CAT_CODE,NaN
121,COURSE,TRM_CAT,TRM_CAT,TRM_CAT_ID,NaN
132,COURSE_WAITING_LIST,INSTR_TYPE_CODE,INSTRUCTION_TYPE,INSTRUCTION_TYPE_CODE,2.0
136,EMP_ADMIN_DOC,ADMIN_DOC_CODE,ADMIN_DOC,ADMIN_DOC_CODE,2.0
179,EMP_QLF_CRIT,CRIT_SETTING,INSTRUCTION_TYPE,INSTRUCTION_TYPE_CODE,5.0
183,EMP_READING,CONTRACT_ID,PRIME_CONTRACTOR,CONTRACT_ID,5.0
193,EMPLOYEE,AREA_CODE,AREAS,AREA_CODE,NaN
199,EMPLOYEE,CO_CODE,COMPANY,CO_CODE,NaN
221,EMPLOYEE,FACILITY_CODE,FACILITY,FACILITY_CODE,NaN
230,EMPLOYEE,PRIME_CO_CODE,COMPANY,CO_CODE,NaN
231,EMPLOYEE,PRIME_CONTRACTOR,PRIME_CONTRACTOR,PRIME_CONTRACTOR_ABBREV,NaN
252,JOB,FUNCTION,JC_FUNCTION,FUNCTION,NaN
258,JOB,LOCATION,LOCATION,LOCATION,NaN
261,JOB,POSITION,JC_POSITION,POSITION,NaN
267,JOB_PROG,PROG_CODE,PROGRAM,PROG_CODE,2.0
269,ORG,CONTRACT_ID,PRIME_CONTRACTOR,CONTRACT_ID,NaN
278,PROG_AF,ADMIN_FORM_CODE,ADMIN_DOC,ADMIN_DOC_CODE,2.0
280,PROG_AF,PROG_CODE,PROGRAM,PROG_CODE,1.0
282,PROG_COURSE,INSTR_TYPE_CODE,INSTRUCTION_TYPE,INSTRUCTION_TYPE_CODE,3.0
284,PROG_COURSE,PROG_CODE,PROGRAM,PROG_CODE,1.0
286,PROG_QLF,PROG_CODE,PROGRAM,PROG_CODE,1.0
292,PROG_READING,PROG_CODE,PROGRAM,PROG_CODE,1.0
301,QUAL_CRITERIA,CRIT_CODE,ADMIN_DOC,ADMIN_DOC_CODE,NaN
306,QUAL_CRITERIA,CRIT_SETTING,INSTRUCTION_TYPE,INSTRUCTION_TYPE_CODE,NaN
353,STRUCTURE,AREA_CODE,AREAS,AREA_CODE,NaN
376,TEST,INSTR_TYPE_CODE,INSTRUCTION_TYPE,INSTRUCTION_TYPE_CODE,2.0

In [20]:
no_reference['Referenced Table'].unique().tolist()

['PRIME_CONTRACTOR',
 'INSTR_TYPE',
 'VEND',
 'FACILITY',
 'INSTRUCTION_TYPE',
 'TRAIN_CAT',
 'TRM_CAT',
 'ADMIN_DOC',
 'AREAS',
 'COMPANY',
 'JC_FUNCTION',
 'LOCATION',
 'JC_POSITION',
 'PROGRAM']